# Dependencies
node_modules/
.pnpm-store/

# Build
dist/
build/

# Env & secrets
.env
.env.*
!.env.example

# Logs
*.log
npm-debug.log*
pnpm-debug.log*

# Test / coverage
coverage/
.nyc_output/

# Prisma local
prisma/*.db
prisma/*.db-journal

# Editor / OS
.DS_Store
.idea/
.vscode/
*.swp
